
.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-main {
  width: 375px;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
}
.profile-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.profile-header {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.profile-textandsupportingtext {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text {
  color: var(--dl-color-gray-9005);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 44px;
}
.profile-text01 {
  color: var(--dl-color-gray-6003);
  height: auto;
  align-self: stretch;
  text-align: center;
  font-stretch: normal;
}
.profile-section {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
}
.profile-form {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-inputfield {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text03 {
  color: var(--dl-color-gray-7004);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.profile-textinput {
  align-self: stretch;
}
.profile-inputfield1 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-inputwithlabel1 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text05 {
  color: var(--dl-color-gray-7004);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.profile-textinput1 {
  align-self: stretch;
}
.profile-inputfield2 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-inputwithlabel2 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text07 {
  color: var(--dl-color-gray-7004);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.profile-textinput2 {
  align-self: stretch;
}
.profile-inputdropdown {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-inputwithlabel3 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text09 {
  color: var(--dl-color-gray-7004);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.profile-select {
  align-self: stretch;
}
.profile-actions {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 991px) {
  .profile-container {
    align-items: stretch;
  }
  .profile-text01 {
    color: var(--dl-color-gray-600);
  }
  .profile-text03 {
    color: var(--dl-color-gray-700);
  }
  .profile-text05 {
    color: var(--dl-color-gray-700);
  }
  .profile-text07 {
    color: var(--dl-color-gray-700);
  }
  .profile-text09 {
    color: var(--dl-color-gray-700);
  }
}
@media (max-width: 767px) {
  .profile-container {
    align-items: stretch;
  }
  .profile-text {
    color: var(--dl-color-gray-900);
  }
  .profile-text01 {
    color: var(--dl-color-gray-600);
  }
}
