{% extends 'base.html' %} {% block navigation %}
<header class="header-navigation-headernavigation navbar_component">
  <header
    data-thq="thq-navbar"
    class="header-navigation-content navbar_container"
  >
    <div class="header-navigation-logo">
      <div class="header-navigation-logowrap">
        <div class="header-navigation-logomark">
          <a href="/login" class="header-navigation-link">
            <img
              alt="ContentI763"
              src="/statics/img/contenti763-n5sa.svg"
              class="header-navigation-image"
            />
          </a>
        </div>
      </div>
    </div>
    <div
      data-thq="thq-navbar-nav"
      data-role="Nav"
      class="header-navigation-desktop-menu navbar_menu"
    >
      <nav
        data-thq="thq-navbar-nav-links"
        data-role="Nav"
        class="header-navigation-nav navbar"
      >
      <a
        href="https://socious.io"
        class="header-navigation-logged-link1 TextmdSemibold navbar_link"
      >
        My projects
      </a>
      <a
        href="https://socious.io"
        class="header-navigation-logged-link2 TextmdSemibold navbar_link"
      >
        My loans
      </a>      
    </nav>
    </div>
    <div
      data-thq="thq-navbar-btn-group"
      class="header-navigation-btn-group navbar_menu-right"
    >
    <nav
        data-thq="thq-navbar-nav-links"
        data-role="Nav"
        class="header-navigation-nav navbar"
      >
    <a
      href="/projects/create"
      class="header-navigation-logged-register TextmdSemibold button"
    >
      Start a project
    </a>
  </nav>
    </div>
    
  </div>
  </header>
</header>
{% endblock %}
