{% extends 'base.html' %} {% block statics %}
<link href="/statics/css/login-modal.css" rel="stylesheet" />
{% endblock%} {% block container %}
<div class="login-modal-container">
  <div class="login-modal-page-wrapper page-wrapper">
    <div class="blur"></div>
    <div class="modal">
      <div class="modal_container">
        <div class="modal_header login-modal-frame-modalheader">
          <div class="login-modal-content">
            <div class="login-modal-featuredicon featured-icon">
              <img
                alt="lock01I763"
                src="/statics/img/lock01i763-kp2.svg"
                class="login-modal-lock01"
              />
            </div>
            <div class="login-modal-textandsupportingtext">
              <span class="login-modal-text TextlgSemibold">
                Sign in with your Decentralized ID
              </span>
              <div class="login-modal-alert">
                <div class="login-modal-content1">
                  <div class="login-modal-textandsupportingtext1">
                    <img
                      alt="infocircle7637"
                      src="/statics/img/infocircle7637-k2xn.svg"
                      class="login-modal-infocircle"
                    />
                    <span class="login-modal-text01 TextsmRegular">
                      <span>
                        We’ve partnered with ProofSpace/Atala Prism
                        Decentralized ID for secure sign-ins and sign-ups,
                        providing users with top-notch privacy and control.
                      </span>
                      <br />
                      <br />
                      <span>
                        ProofSpace is an identification verification tool used
                        by security-conscious entities such as the United
                        Nations Development Program, the World Health
                        Organization, and Microsoft.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <span class="login-modal-text06 TextsmRegular">
                To sign in click the button to continue to the ProofSpace app.
              </span>
            </div>
          </div>
          <button class="login-modal-buttonclose-x">
            <img
              alt="xcloseI763"
              src="/statics/img/xclosei763-d67.svg"
              class="login-modal-xclose"
            />
          </button>
          <div class="login-modal-paddingbottom"></div>
        </div>
        <div class="modal_actions">
          <div class="login-modal-content2">
            <a
              rel="noreferrer noopener"
              class="login-modal-socialbutton social-button"
              href="https://platform.proofspace.id/oauth2/authorization?client_id={{proofspace_client_id}}&redirect_uri={{proofspace_redirect_url}}&response_type=code"
            >
              <img
                alt="SocialiconI763"
                src="/statics/img/socialiconi763-3mh.svg"
                class="login-modal-socialicon"
              />
              <span class="login-modal-text07 TextmdSemibold">
                <span>Sign in with ProofSpace</span>
              </span>
            </a>
          </div>
        </div>
        <div class="login-modal-frame-modalactions1 modal_actions">
          <img
            alt="Dividerwrap7637"
            src="/statics/img/dividerwrap7637-qow2.svg"
            class="login-modal-dividerwrap"
          />
          <div class="login-modal-content3">
            <div class="login-modal-wrap">
              <span class="login-modal-text09 TextlgSemibold">
                <span>Get ProofSpace app</span>
              </span>
              <div class="login-modal-actions">
                <a
                  href="https://apps.apple.com/us/app/proofspace/id1512258409"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="login-modal-link"
                >
                  <img
                    alt="Mobileappstorebadge7637"
                    src="/statics/img/mobileappstorebadge7637-ngj9.svg"
                    class="login-modal-mobileappstorebadge"
                  />
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=io.zaka.app&amp;pli=1"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="login-modal-link1"
                >
                  <img
                    alt="Mobileappstorebadge7637"
                    src="/statics/img/mobileappstorebadge7637-1fvq.svg"
                    class="login-modal-mobileappstorebadge1"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
