{% extends 'base.html' %}{% block statics%}
<link href="/statics/css/login.css" rel="stylesheet" />
{% endblock %} {% block container %}

<main class="login-login main-wrapper">
  <section class="section_header">
    <div class="login-textandsupportingtext">
      <span class="login-text DisplayxsSemibold">
        <span>Log in to your account</span>
      </span>
      <span class="login-text2 TextmdRegular">Welcome back!</span>
    </div>
  </section>
  <div class="login-actions">
    <a href="/login/modal" class="login-button TextmdSemibold button">
      <span class="login-text3 TextmdSemibold">
        <span>Sign in</span>
      </span>
    </a>
    <div class="login-footerlinks">
      <div class="login-row">
        <span class="login-text5 TextsmRegular">
          <span>Don’t have an account?</span>
        </span>
        <a href="/login/modal" class="login-button1">
          <span class="login-text7 TextsmSemibold button-link">
            <span>Sign up</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</main>

{% endblock%}
