{% extends 'base_user.html' %} {% block statics %}
<link href="/statics/css/my-projects.css" rel="stylesheet" />
{% endblock%} {% block container %}
<main class="my-projects-main main-wrapper">
  <section class="section-header">
    <div class="container">
      <div class="my-projects-content">
        <div class="my-projects-textandsupportingtext">
          <span class="my-projects-text TextxlSemibold">
            My projects
          </span>
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </section>
  <section class="projects-list">
    <div class="my-projects-container2 container">
      <div class="my-projects-results">
        {% for project in paginate %}
        <a href="/projects/{{project.id}}">
          <div class="project-item">
            <div class="my-projects-image">
              <div class="my-projects-image1">
                {% with project.images.all|first as photo %}
                  {% if photo %}
                  <img
                    alt="image"
                    src="/photos/{{photo.image}}"
                    class="my-projects-image2"
                  />
                  {% else %}
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1596788068873-9ffd5cacd4c4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8c2VhcmNofDN8fGZhcm1lciUyMGFmcmljYXxlbnwwfHx8fDE2ODU5NDgzNjJ8MA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                    class="my-projects-image2"
                  />
                  {% endif %}
                {% endwith %}
              </div>
              <div class="my-projects-overlay"></div>
              <div class="my-projects-badge">
                <span class="my-projects-text01 TextsmMedium">
                  <span>{{project.location.name}}</span>
                </span>
              </div>
            </div>
            <div class="my-projects-content1">
              <div class="my-projects-details">
                <div class="my-projects-detailswrap">
                  <div class="my-projects-textandsupportingtext1">
                    {% if project.reach_goal_percent == 100 %}
                    <span class="my-projects-text03 TextlgSemibold">
                      Congratulations
                    </span>
                    <div class="my-projects-textwrap">
                      <span class="my-projects-text04 TextsmRegular">
                        You have reached your goal, you can withdraw
                        your funds now
                      </span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="my-projects-progress">
                  <div class="my-projects-progressbar">
                    <div class="my-projects-progressbar1">
                      <div class="my-projects-progress1" style="max-width:{{project.reach_goal_percent}}%"></div>
                    </div>
                  </div>
                  <div class="my-projects-detailswrap1">
                    <div class="my-projects-textandicon">
                      <span class="my-projects-text05 TextsmRegular">
                        {{project.reach_goal_percent}}% funded
                      </span>
                    </div>
                    <div class="my-projects-textandicon1">
                      <span class="my-projects-text06 TextsmRegular">
                        {{project.loan_amount}} USDT
                      </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="my-projects-detailswrap2">
                  <div class="my-projects-textandicon2">
                    <img
                      alt="clockfastforwardI439"
                      src="/statics/img/clockfastforwardi439-q9uo.svg"
                      class="my-projects-clockfastforward"
                    />
                    <span class="my-projects-text07 TextmdMedium">
                      <span>{{project.repayment_period}} months</span>
                    </span>
                  </div>
                  <div class="my-projects-textandicon3">
                    <img
                      alt="trendup01I439"
                      src="/statics/img/trendup01i439-x8f.svg"
                      class="my-projects-trendup01"
                    />
                    <span class="my-projects-text09 TextmdMedium">
                      <span>1.3% monthly interest</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="my-projects-textandcategory">
                <span class="my-projects-text11 TextlgMedium">
                  {{project.title}}
                </span>
                <span class="my-projects-text12 TextmdMedium">
                  <span>
                    {{project.subtitle}}
                  </span>
                </span>
              </div>
              <div class="my-projects-actions">
                {% if project.reach_goal_percent == 100 and project.status != 'COMPLETE' %}
                <button
                  class="my-projects-button TextmdSemibold button"
                >
                  <span class="my-projects-text14 TextmdSemibold">
                    Withdraw now
                  </span>
                </button>
                {% endif %}
                {% if project.status == 'COMPLETE' %}
                <button
                  class="my-projects-button TextmdSemibold button"
                >
                  <span class="my-projects-text14 TextmdSemibold">
                    payback now
                  </span>
                </button>
                {% endif %}
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="my-projects-pagination">
        {% if paginate.has_previous %}
        <a class="my-projects-button2" href="?page={{ paginate.previous_page_number }}">
        {% else %}
        <a class="my-projects-button2" href="#">
        {% endif %}
          <img
            alt="arrowleftI439"
            src="/statics/img/arrowlefti439-hdvg.svg"
            class="my-projects-arrowleft"
          />
        </a>
        <span class="my-projects-text34 TextsmRegular">
          <span class="my-projects-text35">Page</span>
          <span class="my-projects-text36">1</span>
          <span class="my-projects-text37">of</span>
          <span>{{ paginate.paginator.num_pages }}</span>
        </span>
        {% if paginate.has_next %}
        <a class="my-projects-button3" href="?page={{ paginate.next_page_number }}">
        {% else %}
        <a class="my-projects-button3" href="#">
        {% endif %}
          <img
            alt="arrowrightI439"
            src="/statics/img/arrowrighti439-rifd.svg"
            class="my-projects-arrowright"
          />
        </a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
