{% extends 'base_user.html' %} {% block statics %}
<link href="/statics/css/connect-wallet.css" rel="stylesheet" />
{% endblock%} {% block container %}
<main class="login-login main-wrapper">
  <div class="section-header">
    <div class="connect-wallet-step1-textandsupportingtext">
      <div class="connect-wallet-step1-text DisplaymdSemibold">
        Connect a wallet
      </div>
    </div>
    <div id="wallet-connect"></div>
    <br>
    
    <button
      class="connect-wallet-step2-button2 TextmdSemibold button"
    >
      <span class="connect-wallet-step2-text10 TextmdSemibold">
        Create my project
      </span>
    </button>
    <br>
    
    <a class="connect-wallet-step1-walletbutton button-secondary-gray" href="/projects/create/2">
      <div class="connect-wallet-step1-walleticon">
      </div>
      <span class="connect-wallet-step1-text2 TextmdSemibold">
        <span>Back</span>
      </span>
    </a>
    
  </div>
</main>

<script src="/statics/js/dist/main.bundle.js"></script>
{% endblock %}
